playwright==1.44.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
google-api-python-client==2.115.1
python-dotenv==1.0.0
requests==2.31.0
beautifulsoup4==4.12.3
lxml==5.0.1
Pillow==10.3.0
pymongo==4.6.0
